n8n/workflows/alliance-notion-publish.json
{
  "name": "Alliance — Publier ressource Notion vers GitHub (credentials natifs)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alliance-notion-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Notion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "alliance-notion-publish"
    },
    {
      "parameters": {
        "jsCode": "// Vérifie la clé secrète passée en header X-Alliance-Secret\nconst secret = $getEnvironmentVariable('ALLIANCE_WEBHOOK_SECRET');\nconst received = $request.headers['x-alliance-secret'] || $request.headers['X-Alliance-Secret'];\nif (secret && received !== secret) {\n  throw new Error('Clé secrète invalide');\n}\n\nconst body = $input.first().json.body || $input.first().json;\nconst pageId = body.pageId || body.data?.id || body.id;\nif (!pageId) {\n  throw new Error('pageId manquant dans le webhook');\n}\nreturn [{ json: { pageId, raw: body } }];"
      },
      "id": "verify",
      "name": "Vérifier secret + extraire ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "pageId": "={{ $json.pageId }}"
      },
      "id": "notion",
      "name": "Notion — Get Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json.properties;\nconst getText = (prop) => {\n  if (!prop) return '';\n  if (prop.title) return prop.title.map(t => t.plain_text).join('');\n  if (prop.rich_text) return prop.rich_text.map(t => t.plain_text).join('');\n  return '';\n};\nconst getSelect = (prop) => prop?.select?.name || '';\nconst getCheckbox = (prop) => prop?.checkbox === true;\nconst getFileUrl = (prop) => {\n  if (!prop?.files?.length) return '';\n  const f = prop.files[0];\n  return f.external?.url || f.file?.url || '';\n};\n\nconst slug = getText(p.Slug);\nconst published = getCheckbox(p.Publié);\nreturn [{\n  json: {\n    pageId: $input.first().json.id,\n    slug,\n    published,\n    title: getText(p.Titre),\n    module: getSelect(p.Module),\n    description: getText(p.Description),\n    resourceUrl: getFileUrl(p.ressource),\n    exerciceUrl: getFileUrl(p.Exercice),\n    solutionUrl: getFileUrl(p['Solution exercice'])\n  }\n}];"
      },
      "id": "format",
      "name": "Formater données Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.published }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_published",
      "name": "Publié ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/david72220/alliance-digitale-formations/actions/workflows/notion-publish.yml/dispatches",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "ref": "main",
          "inputs": {
            "page_id": "={{ $json.pageId }}",
            "slug": "={{ $json.slug }}"
          }
        },
        "options": {}
      },
      "id": "http_github",
      "name": "HTTP — GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'ok', message: 'Publication déclenchée sur GitHub' } }];"
      },
      "id": "response_ok",
      "name": "Réponse OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'ignored', message: 'La ressource n\\'est pas publiée.' } }];"
      },
      "id": "response_ko",
      "name": "Réponse Ignoré",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        450
      ]
    }
  ],
  "connections": {
    "Webhook Notion": {
      "main": [
        [
          {
            "node": "Vérifier secret + extraire ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vérifier secret + extraire ID": {
      "main": [
        [
          {
            "node": "Notion — Get Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion — Get Page": {
      "main": [
        [
          {
            "node": "Formater données Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater données Notion": {
      "main": [
        [
          {
            "node": "Publié ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publié ?": {
      "main": [
        [
          {
            "node": "HTTP — GitHub Actions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Ignoré",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — GitHub Actions": {
      "main": [
        [
          {
            "node": "Réponse OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}